<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Auction</title>
</head>

<body>

    <section class="navbar">
        <nav class="container">
            <div class="body">
                <div class="brand">
                    <img class="logo" src="../assets/images/layout/Layer%201%201.png" alt="">
                    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0 1.13762C0 0.50933 0.537258 0 1.2 0H22.8C23.4627 0 24 0.50933 24 1.13762C24 1.76591 23.4627 2.27524 22.8 2.27524H1.2C0.537259 2.27524 0 1.76591 0 1.13762Z"
                            fill="white" />
                        <path
                            d="M0 8C0 7.37171 0.537258 6.86238 1.2 6.86238H22.8C23.4627 6.86238 24 7.37171 24 8C24 8.62829 23.4627 9.13762 22.8 9.13762H1.2C0.537259 9.13762 0 8.62829 0 8Z"
                            fill="white" />
                        <path
                            d="M1.2 13.7248C0.537258 13.7248 0 14.2341 0 14.8624C0 15.4907 0.537259 16 1.2 16H22.8C23.4627 16 24 15.4907 24 14.8624C24 14.2341 23.4627 13.7248 22.8 13.7248H1.2Z"
                            fill="white" />
                    </svg>
                </div>
                <ul class="menu">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M16 14.8626C16 15.4908 15.6435 16 15.2038 16H8.79615C8.35645 16 8 15.4908 8 14.8626C8 14.2345 8.35645 13.7253 8.79615 13.7253H15.2038C15.6435 13.7253 16 14.2345 16 14.8626Z"
                            fill="#3D3D3D" />
                        <path
                            d="M16 8.00028C16 8.62843 15.6435 9.13764 15.2038 9.13764H0.796155C0.356451 9.13764 0 8.62843 0 8.00028C0 7.37213 0.35645 6.86292 0.796155 6.86292H15.2038C15.6435 6.86292 16 7.37213 16 8.00028Z"
                            fill="#3D3D3D" />
                        <path
                            d="M15.2038 2.27473C15.6435 2.27473 16 1.76551 16 1.13736C16 0.509214 15.6435 0 15.2038 0H5.59615C5.15645 0 4.8 0.509214 4.8 1.13736C4.8 1.76551 5.15645 2.27473 5.59615 2.27473H15.2038Z"
                            fill="#3D3D3D" />
                    </svg>
                    <li class="item active">
                        <a href="navbar.html">Bosh sahifa</a>
                    </li>
                    <li class="item">
                        <a href="auction.html">Birjada savdo qilish</a>
                    </li>
                    <li class="item">
                        <a href="#">Yangiliklar</a>
                    </li>
                    <li class="item">
                        <a href="#">Loyiha haqida</a>
                    </li>
                    <li>
                        <ul>
                            <li>
                                <a href="#">
                                    <svg width="12" height="10" viewBox="0 0 12 10" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M4.70859 6.5907L4.51009 9.3827C4.79409 9.3827 4.91709 9.2607 5.06459 9.1142L6.39609 7.8417L9.15509 9.8622C9.66109 10.1442 10.0176 9.9957 10.1541 9.3967L11.9651 0.910703L11.9656 0.910203C12.1261 0.162203 11.6951 -0.130297 11.2021 0.0532028L0.557089 4.1287C-0.169411 4.4107 -0.158411 4.8157 0.433589 4.9992L3.15509 5.8457L9.47659 1.8902C9.77409 1.6932 10.0446 1.8022 9.82209 1.9992L4.70859 6.5907Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.1831 2.25275C15.0102 1.61014 14.5036 1.10358 13.8611 0.930542C12.6873 0.609375 7.992 0.609375 7.992 0.609375C7.992 0.609375 3.2969 0.609375 2.12311 0.918365C1.49295 1.09122 0.973938 1.61023 0.801086 2.25275C0.492188 3.42645 0.492188 5.86056 0.492188 5.86056C0.492188 5.86056 0.492188 8.30695 0.801086 9.46838C0.974121 10.1109 1.48059 10.6175 2.1232 10.7905C3.30926 11.1118 7.99218 11.1118 7.99218 11.1118C7.99218 11.1118 12.6873 11.1118 13.8611 10.8028C14.5037 10.6298 15.0102 10.1233 15.1833 9.48074C15.4921 8.30695 15.4921 5.87292 15.4921 5.87292C15.4921 5.87292 15.5044 3.42645 15.1831 2.25275ZM6.49713 8.10928V3.61185L10.4015 5.86056L6.49713 8.10928Z"
                                            fill="white" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <main class="auction-details">
        <div class="container">
            <div class="body">
                <div class="details">
                    <a class="back-link" href="#">
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.28033 9.53033C4.98744 9.82322 4.51256 9.82322 4.21967 9.53033L0.21967 5.53033C-0.0732233 5.23744 -0.0732233 4.76256 0.21967 4.46967L4.21967 0.46967C4.51256 0.176777 4.98744 0.176777 5.28033 0.46967C5.57322 0.762563 5.57322 1.23744 5.28033 1.53033L1.81066 5L5.28033 8.46967C5.57322 8.76256 5.57322 9.23744 5.28033 9.53033Z"
                                fill="#14C700" />
                        </svg>
                        Orqaga qaytish
                    </a>
                    <div class="product-image">
                        <div class="thumbnails">
                            <img class="thumbnail active" src="../assets/images/product/1.png">
                            <img class="thumbnail" src="../assets/images/product/2.png">
                            <img class="thumbnail" src="../assets/images/product/3.jpg">
                            <img class="thumbnail" src="../assets/images/product/4.jpg">
                            <img class="thumbnail" src="../assets/images/product/4.jpg">
                        </div>
                        <div class="big-image">
                            <img id="big-image" src="../assets/images/product/1.png">
                        </div>
                    </div>
                    <div class="product-text">
                        <h2 class="title">Redmi Book 14’’</h2>
                        <p class="excerpt">Redmibook Ryzen 4000 APU o'rnini bosuvchi 10-avlod Intel protsessorlari bilan
                            ishlaydi.</p>
                        <div class="features">
                            <h3 class="title">Xarakteristika</h3>
                            <ul class="list">
                                <li class="item">Processor: 10th generation Intel Core i5</li>
                                <li class="item">GPU: NVIDIA ® MX250 2GB GDDR5</li>
                                <li class="item">RAM: 2GB GDDR5 + 8GB DDR4</li>
                                <li class="item">Display: 14" FHD Full HD screen</li>
                                <li class="item">Storage: 256GB SATA SSD storage</li>
                                <li class="item">OS system: Windows 10 Home</li>
                            </ul>
                        </div>
                        <div>
                            <a class="action" href="#">Batafsil ma’lumot</a>
                        </div>
                    </div>
                </div>
                <div class="auction-form">
                    <h1 class="title">Auksionda qatnashish</h1>
                    <table>
                        <tr>
                            <th>Mahsulot nomi</th>
                            <td>Redme Book 14"</td>
                        </tr>
                        <tr>
                            <th>Auksion boshlangan vaqt</th>
                            <td>10:23,22-sentyabr,2021</td>
                        </tr>
                        <tr>
                            <th>Auksion tugaydigan vaqt</th>
                            <td>10:23,29-oktyabr,2021</td>
                        </tr>
                        <tr>
                            <th>Mahsulotning asl narxi</th>
                            <td> 2999 MNG</td>
                        </tr>
                        <tr>
                            <th>Auksiondagi boshlang'ich narxi</th>
                            <td>312 MNG</td>
                        </tr>
                        <tr>
                            <th>Auksionda berilgan ohirgi narx</th>
                            <td>469 MNG</td>
                        </tr>
                    </table>
                    <form action="#" method="POST">
                        <input class="price" name="price" type="text" placeholder="Narxni belgilang" />
                        <div>
                            <label for="#agreement">
                                <input class="checkbox" name="agreement" type="checkbox" id="agreement" />
                                <span>Men auksion <a href="#">shartlariga</a> roziman</span>
                            </label>
                        </div>
                        <button class="btn btn-primary">Tasdiqlash</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="../assets/js/main.js"></script>

</body>

</html>